.navbar {
    background-color: #1b0088;

}

.nav-item .nav-link {
    color: white;
    font-weight: 200;

}

.nav-item-active .nav-link {
    color: white;
    font-weight: 500;
    font-size: 120%;
    vertical-align: middle;
}

.card-img-top {
    width: 200px;
    /* o el ancho que desees */
    height: 200px;
    /* o la altura que desees */
    object-fit: cover;
    /* mantiene la relación de aspecto y recorta si es necesario */
}

.card-text {
    width: 200px;
    /* o el ancho que desees */
    height: 130px;
    /* o la altura que desees */
    object-fit: cover;
    /* mantiene la relación de aspecto y recorta si es necesario */
}

.btn.btn-primary {
    background-color: #1b0088;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: verdana;
    font-size: 7pt;
    color: black;
}

.intro-section {
    background-color: #f4f4f4;
    /* Color de fondo claro */
    padding: 50px 0;
    /* Espaciado arriba y abajo */
    text-align: center;
    /* Centrar texto horizontalmente */
}

.intro-section h1 {
    font-size: 2.5rem;
    /* Tamaño grande para el título */
    color: #333;
    /* Color oscuro para el título */
    margin-bottom: 20px;
    /* Espaciado entre título y párrafo */
}

.intro-section h4 {
    font-size: 1.2rem;
    /* Tamaño estándar para el párrafo */
    color: #666;
    /* Color gris oscuro para el texto */
    max-width: 800px;
    /* Limitar ancho del párrafo */
    margin: 0 auto;
    /* Centrar párrafo horizontalmente */
}